body {
    font-family: "Arial", sans-serif;
    
    font-size: 18px;
    header{
        background-color: lightgray;
    }
    main{
        background-color: lightblue;
    }

    aside{
        background-color: lightgreen;
    }

    footer{
        background-color: burlywood;
    }
}
